#canvas {
  width: 400px;
  height: 400px;
  background-color: silver;
  margin: 0 auto;
  box-shadow: 15px 15px 10px gray;
}

#first-row {
  height: 75%;
  width: 100%;
}

#big-rectangle {
  height: 100%;
  width: 75%;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.blue {
  background-color: dodgerblue;
}

.yellow {
  background-color: gold;
}


.right {
  float: right;
}

.left {
  float: left;
}

.honeydew{
   background-color: honeydew;

}
#first-divider {
  height: 100%;
  width: 3%;
}

#first-column {
  height: 100%;
  width: 22%;
}

#second-divider {
  height: 6%;
  width: 100%;
}

#first-medium-rectangle {
  height: 45.5%;
  width: 100%;
}

#second-medium-rectangle {
  height: 45.5%;
  width: 100%;
}

#second-row {
  height: 3%;
  width: 100%;
}

#third-row{
  height: 22%;
  width: 100%;  
}

#last-column{
  height: 100%;
  width: 5%; 
  
}

#first-small-rectangle{
  height: 40%;
  width: 100%; 
}

#third-divider{
  height: 20%;
  width: 100%; 
}

#second-small-rectangle{
  height: 40%;
  width: 100%; 
}


#fourth-divider{
  height: 100%;
   width: 3%; 
}

#third-medium-rectangle{
    height: 100%;
    width: 67%; 
}
#fifth-divider{
  height: 100%;
   width: 3%; 
}                                                      

#fourth-medium-rectangle{
    height: 100%;
    width: 22%; 
}



